body{
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#TopArea{
	background-color: rgb(39, 243, 66);
	top: 0;
	height: 50vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#BottomArea{
	background-color: blue;
	top: 50vh;
	height: 50vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#Tango{
 
	height: 100%;
	width: 100vw;
	font-size: 8em;
	margin: 0;
	padding: 0;
  display: grid;
  place-items: center;
  word-wrap: normal;
}
#Setsumei{
 user-select: none
  opacity: 0;
	height: 100%;
	width: 100%;
	font-size: 2em;
	margin: 0;
	padding: 0;
  display: grid;
  place-items: center;
}

#Setsumei:hover{
  opacity: 1;
}
#Setsumei:active{
  opacity: 1;
}