body{
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#TopArea{
	background-color: rgb(124, 255, 141);
	top: 0;
	height: 50vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#BottomArea{
	background-color: rgb(158, 158, 255);
	top: 50vh;
	height: 50vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#Tango{
 
	height: 100%;
	width: 100vw;
	max-width: 100vm;
    max-height: 50vh;
	font-size: 8em;
	margin: 0;
	padding: 0;
  display: grid;
  place-items: center;
  word-wrap: break-word;
}
#Setsumei{
  opacity: 0;
	height: 100%;
	width: 100%;
	max-width: 100vm;
	font-size: 2em;
	margin: 0;
	padding: 0;
  display: grid;
  place-items: center;
  word-wrap: break-word;
}

#Setsumei:active{
 user-select: none;
  opacity: 1;
}

#ChangeButton{
	position:absolute;
	top:0;
	left:0;
}
#VoiceButton{
	position:absolute;
	top:0;
	right: 0;
}